body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
}

.container {
    display: flex;
    width: 90%;
    max-width: 500px;
    gap: 20px;
    justify-content: space-between;
    margin: 30px;
}

button {
    flex: 1;
    height: 120px;
    font-size: 3rem;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        transform 0.1s,
        opacity 0.1s;
}

.btn-left {
    background-color: #e74c3c;
    transform: rotate(180deg);
}
.btn-left:active {
    transform: rotate(180deg) scale(0.95);
}

.btn-right {
    background-color: #2ecc71;
}
.btn-right:active {
    transform: scale(0.95);
}

.settings-panel {
    width: 80%;
    max-width: 460px;
    background: #333;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.save-btn {
    height: 50px;
    font-size: 1.2rem;
    background-color: #033f55;
    margin-top: 10px;
}
.save-btn:active {
    transform: scale(0.95);
}
