body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
}

.main-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch; /* Sorgt dafür, dass alle Container im Desktop-Modus gleich hoch wirken */
    width: 95%;
    max-width: 1400px;
    padding: 20px;
}

/* Die anderen Panel */
.main-container {
    flex: 1 1 350px;
    max-width: 460px;
    background: #333;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.stepper {
    flex-direction: row;
    margin: 0;
    /* Zentriert die Buttons vertikal, wenn der Container durch 'stretch' hochgezogen wird */
    /*align-self: center;*/
}

button {
    flex: 1;
    height: 120px;
    font-size: 3rem;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        transform 0.1s,
        opacity 0.1s;
    background-color: #033f55;
}
button:active {
    transform: scale(0.95);
}

.btn-left {
    background-color: #e74c3c;
}

.btn-right {
    background-color: #2ecc71;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.save-btn {
    height: 50px;
    font-size: 1.2rem;
    margin-top: 10px;
}

.main-container h1 {
    margin: 0;
    text-align: center;
}

.counter-controls {
    display: flex;
    gap: 15px;
}

.counter-controls button {
    height: 60px;
    font-size: 1.5rem;
}
.red-alert {
    background-color: #aa0000;
}
/* Mobile Ansicht */
@media (max-width: 800px) {
    .main-layout {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main-container {
        width: 100%;
        max-width: 500px;
        flex: none; /* Deaktiviert das Wachsen im vertikalen Modus */
    }

    .stepper {
        height: auto; /* Container ist nur so hoch wie die Buttons */
    }

    button {
        height: 100px; /* Optional: Buttons auf Handy etwas kompakter */
    }
}
